.card {
  display: flex;
  flex-direction: row;
  height: 120px;
  width: 100%;
  padding: 12px;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0.15);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;

  align-self: center;
  margin: 0 auto;
  margin-bottom: 12px;
  gap: 12px;
}

.card img {
  width: 20%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
  object-position: center;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
  margin-top: 20px;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.2);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .card {
    /* padding: 1rem 2.5rem; */
    height: 80px;
  }

  .card h2 {
    /* margin-bottom: 0.5rem; */
    font-size: 1.1rem;
    margin: 0;
  }

  .card p {
    font-size: 0.8rem;
  }
}
