.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.logo {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

.mainLinks {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 20px;
  font-size: 20px;
}

.authLinks {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}
