.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  /* width: 100vw; */
  width: 100%;
  /* padding-left: 72px; */
  /* padding-right: 72px; */
  margin-bottom: 8vh;
  /* background-color: #1c1a05; */
  background-color: #242424;

  text-align: end;
  align-items: flex-end;
}

.logo {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
}

.mainLinks {
  display: flex;
  align-items: center;
  align-content: center;
  align-items: flex-end;
  gap: 20px;
  font-size: 20px;
  text-align: bottom;
}

.authLinks {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  text-align: bottom;
}
